@mixin pure-menu-link-color($color, $bg-color) {
    color: $color;
    background-color: $bg-color;
}

#menu {
    background-color: $menu-color;
}

.pure-menu-heading {
    color: $menu-link-color;

    &:hover, &:focus {
        @include pure-menu-link-color($menu-link-color,  $menu-color);
    }
}

.pure-menu-list {
    .pure-menu-item {
        &.pure-menu-selected {
            .pure-menu-link {
                @include pure-menu-link-color($menu-color,  $background-color);
            }
        }

        .pure-menu-link {
            color: $menu-link-color;

            &:hover, &:focus {
                @include pure-menu-link-color($menu-color,  $background-color);
            }
        }
    }
}
