$background-color: #fafafa;

$menu-color: #607d8b;
$menu-link-color: white;

$article-title-color: #424242;
$article-time-since-added-color: #757575;
$article-list-item-border-color: #e1e1e1;

/* {{{ Panel variables */

$panel-border: 1px solid black;
$panel-border-radius: 5px;
$panel-padding: 10px;

$panel-info-bg: #BBDEFB;
$panel-info-border: #90CAF9;
$panel-info-text: #616161;

$panel-error-bg: #FFCDD2;
$panel-error-border: #EF9A9A;
$panel-error-text: #B71C1C;

$panel-warning-bg: #FFF9C4;
$panel-warning-border: #FFF59D;
$panel-warning-text: #F9A825;

$panel-success-bg: #C8E6C9;
$panel-success-border: #A5D6A7;
$panel-success-text: #2E7D32;

/* }}} */
/* {{{ Tools */

$tool-button-size: 16px;

$bin-icon-url: url("/img/bin.svg");

/* }}} */
