@import 'mixins';
@import 'variables';

@import 'panel';

@import 'menu';
@import 'article/form';
@import 'article/list';
@import 'article/tools';

html {
    font-size: 1em;
    line-height: 1.4;
}

body {
    background-color: $background-color;
}

#content {
    margin: 15px 20%;
}

.pure-form {
    margin-bottom: 10px;
}

@media only screen and (max-width : 480px) {
    #content {
        margin: 1em 1em;
    }
}
